<div class="container-fluid">
   <header>
    <h1 class="text-center">iPSY Quotes</h1>
   </header> 

   <hr>
   <br>
    <div class="row">
        <div class="col-md-6">
            <div class="quote" *ngFor= 'let quote of quotes; let i=index'>
                <h6 appHighlight >{{quote.theQuote}}</h6>
                <button class="btn btn-primary" (click)= "toggleDetails(i)">Quote Details</button>
                <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isComplete)='removeQuote($event, i)'></app-quote-details>    
            </div>            
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>              
    </div>
    <footer>
        <div class="row text-center">
            <div class="col-xs-4 col-md-4 col-sm-4 ">
                <h5>About iPSY Quotes</h5>
                <p>iPSY Quotes platform allows users to share their favorite quotes to inspire others.</p>
            </div>
            <div class="col-xs-4 col-md-4 col-sm-4">
                <h5>Contact</h5>
                <ul>
                    <li>Telephone : (+44) 7845 83973</li>
                    <li> E-Mail : <a href="https://www.premierleague.com/clubs/10/Liverpool/overview" target="_blank">ipsyjayt@gmail.com</a></li>
                    <li> Address : <a target="_blank" href="https://www.google.com/maps/d/embed?mid=1E4I9C1sutj4_swZy61nvw0VbSTY&msa=0&ie=UTF8&t=h&vpsrc=6&ll=53.41985679933138%2C-2.9992784734559175&spn=0.218922%2C0.655746&z=11&output=embed">Umoroto</a></li>
                </ul>
                
            </div>
            <div class="col-xs-4 col-md-4 col-sm-4">
                <h5>Legal Action</h5>
                <p>Copyright (2022)</p>
                <p>All rights reserved.</p>
                <p>Privacy Policy.</p>
                <p>Terms & Conditions</p>
            </div>            
        </div>
    </footer>
</div>